.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - var(--sidebar-width));
  height: var(--header-height);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  .toggle_sideBar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    transition: all .3s ease-out;
    cursor: pointer;
  }
  .toggle_sideBar:hover {
    background-color: #f9f9fc;
    color: #21b6ff;
  }
  .action{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .notification {
      background-color: #fff;
      color: #b2b0c7;
      font-size: 24px;
    }
    .notification:hover .avatar{
      background-color: #f9f9fc;
      color: #21b6ff;
      cursor: pointer;
    }
    .languages{
      padding: 0 20px;
      transition: all .3s ease-out;
      .subMenu {
        padding : 0;
        img {
          margin : 0;
        }
      }
      .menuItem {
        margin: 4px 0 8px;
        padding: 0 16px; 
       
      }
    }
    .languages:hover{
      background-color: #f9f9fc;
    }
    .account {
      padding: 0 10px;
      transition: all .3s ease-out;
      .avatar{
        margin: 0 0 0 8px;
      }
    }
    .account:hover {
      background-color: #f9f9fc;
    }
  }
}

.notification-list{
  padding: 12px 0;
  width: 320px;
  .notification-item {
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .notification-item:hover {
    background-color: #f9f9fc;
  }
  .clear-notificaiton {
    text-align: center;
    padding: 10px 0;
  }
  .clear-notificaiton:hover {
    background-color: #f9f9fc;
  }
}

img { 
  margin: 0 10px;
  border-radius: 50px;
}





