.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .brand {
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    box-shadow: 0 1px 9px -3px rgb(0 0 0 / 20%);
    z-index: 1;
    .logo {
      width: 36px;
      margin-right: 8px;
    }
    .title {
      vertical-align: text-bottom;
      font-size: 16px;
      text-transform: uppercase;
      display: inline-block;
      font-weight: 700;
      margin-bottom: 0;
      color: #1890ff;
      white-space: nowrap;
      background-image: -webkit-gradient(
        linear,
        37.219838% 34.532506%,
        36.425669% 93.178216%,
        from(#29cdff),
        to(#0a60ff),
        color-stop(0.37, #148eff)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .menu {
    flex: 1;
    padding: 24px 0;
  }
  .switch-theme {
    height: var(--switch-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    .icon-bulb {
      margin-right: 4px;
    }
  }
}
