.container {
  margin-top: var(--header-height);
  overflow-y: auto;
  height: calc(100vh - var(--header-height));
  .wrap-content {
    min-height: calc(100vh - var(--footer-height) - var(--header-height));
    padding: 24px;
  }
  .content {
    background-color: #fff;
    padding: 24px;
    box-shadow: 4px 4px 20px 0 rgb(0 0 0 / 1%);
    min-height: calc(100vh - 230px);
    position: relative;
  }
}
