@import "~antd/dist/antd.less";
:root {
  --sidebar-width: 256px;
  --footer-height: 72px;
  --header-height: 72px;
  --switch-height: 48px;
  --text-color: #666;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  overflow: auto;
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #e6e6e6;
  }
}
